.card-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 500px;
  }
  
  .card-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-page-button {
    padding: 10px 20px;
    margin: 50px 10px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .card-page-button:hover {
    background-color: #0069d9;
  }
  
  .card-page-button.selected {
    background-color: #0069d9;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
  
  .card {
    width: 350px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  